/*
===============================
IMPORTS
===============================
*/



/*
===============================
CSS RESET
===============================
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}



/*
===============================
GENERAL
===============================
*/

html {
	min-height: 100%;
}

body {
	background-color: #E1F3F6;
	background: url('../imgs/60-lines.png') #E1F3F6;

	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

}

h1 {
	font-weight: bold;
	color: #041520;
	font-size: 80px;
	font-family: 'Droid Sans', 'Arial', sans-serif;
	display: block;
	text-align: center;
	margin-top: 10px;
}

.header {

}

/*
===============================
CONTENT
===============================
*/

.wrapper,
.content-box,
.title-box {
	margin-left: auto;
	margin-right: auto;
	width: 70%;	
}

.title-box {
	margin-top: 0px;
}

.section-title {
	font-size: 40px;
	padding: 10px;
	text-align: center;
}

.section-subtitle {
	font-size: 14px;
	font-style: oblique;
	text-align: center;
	color: grey;
}


.content-box {
	margin-top: 20px;
}

.content-box p {
	text-align: justify;
	line-height: 1.5em;
}


.self-pic {
	display: block;
	margin: 20px auto;
	width: 200px;
	height: auto;
	border-radius: 50%;
	background-color: black;
	box-shadow: 5px 5px 12px black;
}

.wrapper {
	margin-top: 30px;
	padding: 10px 0 30px 0;
	border-radius: 3px 3px 0 0;
	border-top: 10px outset;
	background-color: rgba(255, 255, 255, .6);
	box-shadow: 3px 3px 5px black;
	width: 90%;
	max-width: 700px
}

.wrapper-about {
	border-color: blue;
}

.wrapper-portfolio {
	border-color: red;
}

.wrapper-contact {
	border-color: green;
	margin-bottom: 20px;
}

.wrapper-tools {
	border-color: orange;
}

.contactme p {
	text-align: center;
}

/*
===============================
TOOLS
===============================
*/

.tools {
	width: 50%;
	text-align: center;
}

.tools-list {
	
}

.tools-list li {
	border-bottom: 2px solid lightgrey;
	border-radius: 0px;
	padding: 10px;
	margin: 0px 0;
	text-align: center;
}

.tools-list > a:first-child li {
	border-top: 2px solid lightgrey;
}

.tools-list a:hover li {
	background-color: #ADD5DC;
	-webkit-transition: background-color .20s ease-in;
	   -moz-transition: background-color .20s ease-in;
	     -o-transition: background-color .20s ease-in;
	    -ms-transition: background-color .20s ease-in;
   		    transition: background-color .20s ease-in;
}

.tools-list a:focus li {
	background-color: #76AFBA;
	-webkit-transition: background-color .20s ease-in;
	   -moz-transition: background-color .20s ease-in;
	     -o-transition: background-color .20s ease-in;
	    -ms-transition: background-color .20s ease-in;
   		    transition: background-color .20s ease-in;
}

.tools-list a:active li {
	background-color: #76AFBA;
	-webkit-transition: background-color .20s ease-in;
	   -moz-transition: background-color .20s ease-in;
	     -o-transition: background-color .20s ease-in;
	    -ms-transition: background-color .20s ease-in;
   		    transition: background-color .20s ease-in;
}

span[class*='tools-img-'] {
	height: 100px;
	width: 100px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	display: inline-block;
}


.tools-img-html {
	background: url('../imgs/icons/html5.png');
}

.tools-img-css {
	background: url('../imgs/icons/css.png');
}


.tools-img-mint {
	background: url('../imgs/icons/mint.png');
}


.tools-img-git {
	background: url('../imgs/icons/git.png');
}


.tools-img-sublime {
	background: url('../imgs/icons/sublime.png');
}


/*
===============================
NAV
===============================
*/

nav {
	text-align: center;
}

.nav-link {
	display: inline-block;
	font-size: 18px;
}

.separator:after,
.nav-link {
	letter-spacing: .4em;
}

.separator:after {
	content: "|";
	font-style: oblique;
	color: #011523;
}

/*
===============================
LINKS
===============================
*/

a {
	text-decoration: none;
	color: black;
	-webkit-transition: color .20s ease-in;
	   -moz-transition: color .20s ease-in;
	     -o-transition: color .20s ease-in;
	    -ms-transition: color .20s ease-in;
   		    transition: color .20s ease-in;
}

a:hover {
	color: #DD8F5A
}